streamlit
pandas
numpy
matplotlib
requests
beautifulsoup4
lxml
PyPDF2
python-docx
altair
matplotlib.dates
AutoDateLocator
ConciseDateFormatter
matplotlib.ticker
FuncFormatter
PercentFormatter
MaxNLocator
